build.xml
bin
.project
.classpath
.metadata
.settings
liferay_tests
pom_archetype.xml
generate.archetype.properties
*~
target/
.DS_Store
._*
/nbactions.xml
/nb-configuration.xml
*.iml
.idea
.gradle
build
